extends ../layouts/index.pug

block body

    h1.mb-5.text-primary Ingrese producto
    form#form.px-2
        label.form-label.text-strong(for='nombre')
            strong
            i Nombre
        input#nombre.form-control(type='text' name='title')
        label.form-label.text-strong(for='precio')
            strong
            i Precio
        input#precio.form-control(type='text' name='price')
        label.form-label.text-strong(for='foto_url')
            strong
            i Foto URL
        input#foto_url.form-control(type='text' name='thumbnail')
        button.btn.btn-success.mt-5 Enviar


    script(type="text/javascript").
        const form = document.getElementById("form")
        form.addEventListener("submit", (e) => {
            e.preventDefault()

            const formData = new FormData(form);

            let json = {};
            formData.forEach((value, key) => { json[key] = value });

            fetch('/api/productos', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(json),
            })
                .then(response => response.json())
                .then(function (json) {
                    if (json.status == "ok") {
                        location.href = "/productos";
                    }
                })
                .catch(function (err) {
                    console.log(err);
                });
        })
