extends layouts/index.pug

block body
    h1(class="mb-5 text-primary") Vista de productos

    if existenProductos
        table(class="table table-dark table-striped")
            tr
                th Nombre
                th Precio
                th Foto
            tbody
                each producto in productos
                    tr
                        td= producto.title 
                        td= producto.price
                        td 
                            img(width="50" src=producto.thumbnail)


    unless existenProductos
        div(class="alert alert-warning") No se encontraron productos